.forget-password{
    margin-top: 30%;
}

.forget-password-content .goback{
  font-size: 1.4rem !important;
  color:#333;
  padding: 3.5rem;
  top: 0;
}

.forget-password-content span ,.forget-password-content button ,.forget-password-content input{
  font-family: YueYuan;
  font-weight: initial;
}
